body
{
    font-family: "Roboto Mono", sans-serif;

    background-color: black;
    padding-top: 25px;
}

.main
{
    display: flex;
    flex-direction: column;
    gap: 100px;
}

#header,
#score
{
    text-align: center;

    font-size: 50px;
    font-weight: bold;
    color: white;
}

.game
{
    display: flex;
    justify-content: space-evenly;
}

#cpu
{
    width: 130px;
    height: 130px;

    border: 3px dashed white;
    border-radius: 15px;
    overflow: hidden;

    box-shadow: 0 0 30px 10px red;
}

#score.fadein
{
    animation: fadein linear 1s;
}

@keyframes fadein
{
    0% {opacity: 1;}
    100% {opacity: 0;}
}

#score.fadeout
{
    animation: fadeout linear 1s;
}

@keyframes fadeout
{
    0% {opacity: 0;}
    100% {opacity: 1;}
}

button.choice
{
    width: 130px;
    height: 130px;

    padding: 0;
    margin: 0 10px;
    border: 3px dashed black;
    border-radius: 15px;
    overflow: hidden;

    transition: 0.3s ease-in-out;
}

button.choice:hover
{
    transform: scale(1.1);
    box-shadow: 0 0 30px 5px  lightgreen;
}

#restart
{
    text-align: center;
    margin-top: -90px;
}